{
  "swagger" : "2.0",
  "info" : {
    "description" : "Arbitron's REST API used for system integration",
    "version" : "2025-06-15T20:35:20Z",
    "title" : "Abritron.ai REST API"
  },
  "host" : "rest-api.arbitron.ai",
  "schemes" : [ "https" ],
  "paths" : {
    "/claim" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "claim_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ClaimModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimModel"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ClaimModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/claim-cpt" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cpt_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ClaimCptModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimCptModel"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ClaimCptModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimCptModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cpt_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/claim-upload" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arb_id",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "download_id",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "ClaimUploadModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClaimUploadModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "DeleteClaimUploadModel",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeleteClaimUploadModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/claims" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "x-api-key",
      "in" : "header"
    }
  },
  "definitions" : {
    "ClaimUploadModel" : {
      "type" : "object",
      "required" : [ "arb_id", "file", "filename" ],
      "properties" : {
        "arb_id" : {
          "type" : "integer",
          "description" : "Claim Arbitration ID to associate the upload with"
        },
        "file" : {
          "type" : "string",
          "description" : "Base64 encoded file content"
        },
        "filename" : {
          "type" : "string",
          "description" : "Original filename"
        },
        "description" : {
          "type" : "string",
          "description" : "Optional description of the file"
        }
      },
      "title" : "claimUploadModel"
    },
    "Empty" : {
      "type" : "object",
      "title" : "Empty Schema"
    },
    "ClaimModel" : {
      "type" : "object",
      "required" : [ "service_date" ],
      "properties" : {
        "state_of_service" : {
          "type" : "string"
        },
        "health_plan_id" : {
          "type" : "integer"
        },
        "entity_name" : {
          "type" : "string"
        },
        "physician_name" : {
          "type" : "string"
        },
        "claim_id" : {
          "type" : "string"
        },
        "insurance_carrier_email" : {
          "type" : "string"
        },
        "insurance_carrier_phone" : {
          "type" : "string"
        },
        "service_date" : {
          "type" : "string",
          "description" : "Required. Format: YYYY-MM-DD"
        },
        "national_provider_identifier" : {
          "type" : "string"
        },
        "member_id" : {
          "type" : "string"
        },
        "cooling_off_date" : {
          "type" : "string",
          "description" : "Format: YYYY-MM-DD"
        },
        "service_description" : {
          "type" : "string"
        },
        "is_active" : {
          "type" : "boolean"
        },
        "import_id" : {
          "type" : "string"
        },
        "insurance_carrier_name" : {
          "type" : "string"
        },
        "diagnosis_code_4" : {
          "type" : "string"
        },
        "diagnosis_code_5" : {
          "type" : "string"
        },
        "in_alert" : {
          "type" : "boolean"
        },
        "procedure_type" : {
          "type" : "string"
        },
        "service_type" : {
          "type" : "string"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Required for updates"
        },
        "diagnosis_code_2" : {
          "type" : "string"
        },
        "diagnosis_code_3" : {
          "type" : "string"
        },
        "diagnosis_code_1" : {
          "type" : "string"
        },
        "provider_id" : {
          "type" : "integer"
        },
        "federal_employer_identification_number" : {
          "type" : "string"
        },
        "place_of_service" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string"
        }
      },
      "title" : "claimModel"
    },
    "Error" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string"
        }
      },
      "title" : "Error Schema"
    },
    "ClaimCptModel" : {
      "type" : "object",
      "required" : [ "arb_id", "cpt" ],
      "properties" : {
        "cpt_id" : {
          "type" : "integer",
          "description" : "Primary key for claim_cpts table (required for updates)"
        },
        "cpt" : {
          "type" : "string",
          "description" : "CPT code"
        },
        "stage_id" : {
          "type" : "integer",
          "description" : "Foreign key to stages table"
        },
        "carrier_final_offer" : {
          "type" : "number",
          "description" : "Final offer from carrier"
        },
        "initial_allowed" : {
          "type" : "number",
          "description" : "Initial allowed amount"
        },
        "provider_counter_offer" : {
          "type" : "number",
          "description" : "Counter offer from provider"
        },
        "units" : {
          "type" : "integer",
          "description" : "Number of units"
        },
        "carrier_offer" : {
          "type" : "number",
          "description" : "Initial offer from carrier"
        },
        "increase" : {
          "type" : "number",
          "description" : "Difference between carrier final offer and arbitration award"
        },
        "in_alert" : {
          "type" : "boolean",
          "description" : "Alert flag"
        },
        "provider_final_offer" : {
          "type" : "number",
          "description" : "Final offer from provider"
        },
        "gross_charges" : {
          "type" : "number",
          "description" : "Gross charges amount"
        },
        "arb_id" : {
          "type" : "integer",
          "description" : "Foreign key to claim table"
        },
        "initial_payment" : {
          "type" : "number",
          "description" : "Initial payment amount"
        },
        "arbitrated_award" : {
          "type" : "number",
          "description" : "Amount awarded during arbitration"
        },
        "award_date" : {
          "type" : "string",
          "description" : "Date of arbitration award (YYYY-MM-DD)"
        },
        "status" : {
          "type" : "string",
          "description" : "Status (Pending, Eligible, Ineligible)"
        }
      },
      "title" : "claimCptModel"
    },
    "DeleteClaimUploadModel" : {
      "type" : "object",
      "required" : [ "claim_upload_ids" ],
      "properties" : {
        "claim_upload_ids" : {
          "type" : "array",
          "description" : "List of claim_upload_id integers to delete",
          "items" : {
            "type" : "integer"
          }
        }
      },
      "title" : "deleteClaimUploadModel"
    }
  }
}
